/node_modules/

vendor/
storage/*.key
storage/logs/
storage/framework/
public/storage/
.env
.env.*
.phpunit.result.cache
/.idea
/.vscode
.DS_Store
npm-debug.log
yarn-error.log

# Secretos y credenciales
.envprodu
googleauth/
*.key
credentials.json
google*.txt
